*/Temp/
*/Library/
*/*.pidb
*/*.user
*/*.userprefs
*/*.suo
*/*.pidb
*/*.sln
*/*.csproj
*/*.unityproj
*/*.booproj

codespells_terrain_test/Assets/Editor/LimeStone/Scenes/examplescene_thaswassup.unity
codespells_terrain_test/.vs/codespells_terrain_test/v14/.suo
codespells_terrain_test/.vs/
codespells_terrain_test/obj/
codespells_terrain_test/Assets/CoherentUI/Binaries/CoherentUI_Host/windows/debug.log
codespells_terrain_test/Assets/CoherentUI/Binaries/CoherentUI_Host/windows/debug.log.meta

